{
    "env": {
        "browser": true,
        "commonjs": false,
        "es2021": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "prettier",
        "@typescript-eslint",
        "import"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "project": "tsconfig.json",
        "tsconfigRootDir": "./",
        "sourceType": "module"
    },
    "rules": {
        "prettier/prettier": [
            "warn",
            {
                "endOfLine": "auto"
            }
        ],
        "import/order": [
            "error",
            {
                "groups": [
                    "external",
                    "type",
                    "object",
                    "index",
                    "internal",
                    "parent",
                    "builtin",
                    "sibling"
                ],
                "alphabetize": {
                    "order": "desc"
                }
            }
        ],
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "argsIgnorePattern": "^_",
                "varsIgnorePattern": "^_"
            }
        ],
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no": "off",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "react/display-name": "off",
        "react/prop-types": "off",
        "react/no-unescaped-entities": "off",
        "prefer-rest-params": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/ban-types": "off",
        "no-console": "warn",
        "no-warning-comments": "warn",
        "multiline-comment-style": "off",
        "no-empty": "off"
    }
}